# sofiene.h et younes.b

## Load le langage SQL

In [1]:
%load_ext sql

## Ce connecter à la base de donnée

In [2]:
%sql postgresql://postgres:Bender@localhost/postgres

## Démo

In [ ]:
%sql drop table human;

In [ ]:
%sql select * from embarquement;

In [ ]:
%%sql 

CREATE TABLE human(PassengerId int primary key, 
                   Name varchar(255), 
                   Sex varchar(255), 
                   Age float, 
                   Survived boolean);

In [ ]:
%%sql 
\copy human
FROM 'C:\Users\hayek\Desktop\SAE terminergui\SAE BDD N°1\human.csv'
DELIMITER ','
CSV HEADER;

In [ ]:
%sql select passengerid, name, embarked from embarquement natural join human;

## Creation des tables

In [ ]:
%%sql 

CREATE TABLE Embarquement(PassengerId int primary key, 
                           Embarked varchar(255), 
                           Ticket varchar(255), 
                           Fare float, 
                           Cabin varchar(255), 
                           Pclass varchar(255));

In [ ]:
%%sql 
create table famille (PassengerId int primary key, 
                      SibSp int, 
                      Parch int);

In [ ]:
%%sql 

CREATE TABLE human(PassengerId int primary key, 
                   Name varchar(255), 
                   Sex varchar(255), 
                   Age float, 
                   Survived boolean);

In [ ]:
%%sql 
\copy Embarquement
FROM 'C:\Users\hayek\Desktop\SAE terminergui\SAE BDD N°1\Embarquement.csv'
DELIMITER ','
CSV HEADER;

In [ ]:
%%sql 
\copy famille
FROM 'C:\Users\hayek\Desktop\SAE terminergui\SAE BDD N°1\Famille.csv'
DELIMITER ','
CSV HEADER;

In [ ]:
%%sql 
\copy human
FROM 'C:\Users\hayek\Desktop\SAE terminergui\SAE BDD N°1\human.csv'
DELIMITER ','
CSV HEADER;

## Rapport sur les tables

Sofiene	
Younes

PHASE 2 :


On a décidés de créer les tables : 

Human  		 	 (PassengerId int primary key,
				 Name varchar (taille du texte), 
				 sex varchar,
				 Age float (car une tuple etait égal à 20,5),
				 Survived booléen (True = 1, False = 0))

Embarquement 	(PassengerId int primary key,
				 Embarked varchar, 
		 		 Ticket varchar, 
		  		 Fare float,  
		 		 Cabin varchar, 
		 		 Pclass varchar)
		 		 

Famille 		 (PassengerId int primary key,
				  SibSp tinyint sur 8 bits (255 le max),
		 		  Parch tinyint)

## Fiche de suivi

### Sae : Fiche de suivis 


Phase 1 :

Le 21 Septembre, (Sofiene) et moi(Younes) se sont mis d’accord sur la répartition des taches. Donc sur qui fait quoi. Puis (Sofiene) a fait la fiche de suivi, il a aussi installer anaconda, et ça été réussi pareil pour (Younes). Enfin Il y a eu une prise de connaissance ainsi qu’une lecture sur le tableau plus pour ma part un approfondissement du tableau.

Le 22 Septembre, toujours pour (Younes) l’étude du tableau, et pour (Sofiene) l’essaie de lié Postgre SQL, ça été un échec. On la donc reporté au week-end et on a réussi à le lié et l’installer.

Le 23 Septembre, ça a été le début de l’écriture de la fiche de suivis mais aussi le début de la création de potentiel de futur table. Puis il y a eu l’essaie du lien Postgre à Jupyter, ça a été une demi-réussite, il manquait la création du mot de passe et de l’user. Mais par la suite, on a pu valider l’essaie du lien Postgre à Jupyter. (Sofiene) a crée le tableau en SQL plus le rapport notebook a été fait. Pour finir j’ai rédigé le mini-rapport(Younes) .

Phase 2 :

Le 30 septembre, Sofiene a réalisé un début de codage SQL, avec notebook. Il y a eu quelques erreurs au début, mais tout a été corrigé. Puis un mini rapport sur les tables a été fait. Sans oublier, l’ouverture des ports pour travailler en cours ou bien à la maison. Quand à moi (Younes), j’ai réécris la fiche de suivi en PDF plus un rajout d’élément car tout n’était pas complet. Puis Pour le 3 octobre, (Sofiene) a finalisé le code SQL plus il a fait la fin du rapport. (Younes) J’ai amélioré la fiche de suivi plus j’ai fais la tache, plutôt les différentes taches pour la phase 3 .

Phase 3

Du 25 au 29 octobre, nous allons préparer mais aussi finir la phase 3. 

Nous allons crée des requêtes en SQL afin d’interroger la base de données et de visualiser les résultats. On aura le mini rapport avec les visualisations ainsi que le script en mode Notebook. 
Sans oublier la démo, ainsi que la présentation. 
Pour la dernière démonstration, on répondra à ces requêtes la :
le nombre de classes de passagers différent qu’il y a à bord du Titanic.
Le nombre de passagers qui avait dans chaque classes.
Le nombre de femme et d’homme qui avaient dans chaque classes. 
Comptez le nombre et le pourcentage de survivants et de passagers morts. 
On doit visualiser la répartition des passagers survivants et morts par classe.
On doit visualiser la répartition des passagers survivants et des passagers décédés selon le sexe. 

On peut voir qui a 6 points essentielle dans cette phase 3, le travail sera partagé de cette manière la je ferais les trois premier point et Sofiene fera les trois derniers points.

## Phase 3 : Les requètes

Combien de classes de passagers différentes y avait-il à bord du Titanic ?

In [3]:
%sql select count(distinct Pclass) as classe from embarquement;

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(3,)]

Combien de passagers y avait t-il dans chaque classe ?

In [4]:
%sql select count(human.passengerid) as passagers, pclass as classe from human natural join embarquement group by pclass;

 * postgresql://postgres:***@localhost/postgres
3 rows affected.

[(491, '3'), (184, '2'), (216, '1')]

combien de de femmes et d'hommes y avait dans chaque classe ?

In [5]:
%sql select distinct pclass as classe, sex as sexe, count(sex) as nombre_sex from human natural join embarquement group by pclass, sex order by sex desc;

 * postgresql://postgres:***@localhost/postgres
6 rows affected.

[('1', 'male', 122),
 ('2', 'male', 108),
 ('3', 'male', 347),
 ('1', 'female', 94),
 ('2', 'female', 76),
 ('3', 'female', 144)]

Comptez le nombre et le pourcetage survivants et de passagers

In [6]:
%sql select count(passengerid) as passagers, survived as survivant, count(survived) * 100 / 891 as pourcentage_de_suvivant from human group by survived;

 * postgresql://postgres:***@localhost/postgres
2 rows affected.

[(549, False, 61), (342, True, 38)]

Visualiser la repartition des passagers survivants et mort par classe

In [7]:
%sql select count(passengerid) as passagers , pclass as classe, survived from human natural join embarquement group by pclass, survived order by pclass asc;

 * postgresql://postgres:***@localhost/postgres
6 rows affected.

[(136, '1', True),
 (80, '1', False),
 (97, '2', False),
 (87, '2', True),
 (372, '3', False),
 (119, '3', True)]

Visualiser la répartition des passagers survivant et morts selon le sexe

In [8]:
%sql select distinct count(passengerid) as passagers , survived, sex from human group by sex, survived;

 * postgresql://postgres:***@localhost/postgres
4 rows affected.

[(81, False, 'female'),
 (109, True, 'male'),
 (233, True, 'female'),
 (468, False, 'male')]